body{
  background-color: coral;
}


.App {
  text-align: center;
  display: flex;
  min-width:100vh;
  align-items: center;
  justify-content: center;
  background-color: coral;
}
.auth-form-container,.login-form, .register-form{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin-top: 10vh;
  width: 30vw;
  /* padding: 0.5vh; */
  background-color: aliceblue;

}
label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
margin: 0.5rem;
padding: 1rem;
border: none;
border-radius: 10px;
}
button{
  border: none;
  background-color: rgb(92, 92, 243);
  padding: 20px;
  border-radius:15px;
  cursor: pointer;
}
.link-btn{
  background-color: none;
  color: white;
  text-decoration: underline;
}
p{
  color: red;
}